<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Doggos</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!--
      Need a visual blank slate?
      Remove all code in `styles.css`!
    -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="styles.css" />
    <script type="module">
      // Import the functions you need from the SDKs you need
      import { initializeApp } from 'https://www.gstatic.com/firebasejs/9.8.4/firebase-app.js';
      import {
        getFirestore,
        query,
        where,
        orderBy,
        onSnapshot,
        collection,
        doc,
        getDocs,
        updateDoc,
        addDoc,
        setDoc,
        deleteDoc,
        serverTimestamp,
        enableIndexedDbPersistence,
      } from 'https://www.gstatic.com/firebasejs/9.8.4/firebase-firestore-lite.js';
      import { createApp, reactive } from 'https://unpkg.com/petite-vue?module';
      // TODO: Add SDKs for Firebase products that you want to use
      // https://firebase.google.com/docs/web/setup#available-libraries
      // Your web app's Firebase configuration
      const firebaseConfig = {
        apiKey: 'AIzaSyC_cIxBna3Asel45IRSUYSpFRPgJonzR4I',
        authDomain: 'doggos-wl.firebaseapp.com',
        projectId: 'doggos-wl',
        storageBucket: 'doggos-wl.appspot.com',
        messagingSenderId: '242959837247',
        appId: '1:242959837247:web:ebbb5d0e3c59ac6ab8f08a',
      };
      // Initialize Firebase
      const app = initializeApp(firebaseConfig);

      const db = getFirestore(app);

      let lastWalk = null;

      //enableIndexedDbPersistence(db);

      //const urlParams = new URLSearchParams(queryString);

      var who = false;
      var path = location.pathname.split('/');
      if (path.length > 1 && path[1].length > 0) {
        who = path[1];
        if (who.length > 1) who = who.charAt(0).toUpperCase() + who.slice(1);
      }

      const data = reactive({
        doggos: [],
        walks: [],
        get isOnWalk() {
          return this.walks.length > 0 && this.walks[0].finish == undefined;
        },
      });
      createApp({
        data,
        who: who,
        user: '',
        goOnWalk(doggo) {
          addDoc(collection(db, 'walks'), {
            who: who,
            doggo: doggo,
            start: serverTimestamp(),
          });
        },
        returnFromWalk(doggo) {
          setDoc(doc(db, 'doggos', doggo), {
            name: doggo,
            walked: serverTimestamp(),
          });
          updateDoc(lastWalk, {
            finish: serverTimestamp(),
            doggo: doggo,
          });
        },
        cancelWalk() {
          deleteDoc(lastWalk);
        },
        dateFormatter: new Intl.DateTimeFormat(undefined, {
          dateStyle: 'short',
        }),
        timeFormatter: new Intl.DateTimeFormat(undefined, {
          timeStyle: 'short',
        }),
      }).mount();

      {
        const q = query(collection(db, 'doggos'), orderBy('name'));
        onSnapshot(q, (querySnapshot) => {
          data.doggos = querySnapshot.docs.map((d) => d.data());
        });
      }
      {
        const q = who
          ? query(
              collection(db, 'walks'),
              where('who', '==', who),
              orderBy('start', 'desc')
            )
          : query(collection(db, 'walks'), orderBy('start', 'desc'));
        onSnapshot(q, (querySnapshot) => {
          data.walks = querySnapshot.docs.map((d) => d.data());
          if (querySnapshot.docs.length > 0)
            lastWalk = querySnapshot.docs[0].ref;
        });
      }
    </script>
  </head>
  <body>
    <div class="container" v-scope v-cloak>
      <h1>Dog Walks {{who||''}}</h1>
      <div class="input-group" v-if="!who && false">
        <input class="form-control" v-model="user" placeholder="Who are you?" />
        <button class="btn btn-primary" @click="login(user)">Login</button>
      </div>
      <div v-if="!data.isOnWalk && who">
        <span v-for="d in data.doggos" style="margin-left: 2px"
          ><button class="btn btn-primary" @click="goOnWalk(d.name)">
            {{d.name}}
          </button></span
        >
        <button class="btn btn-warning" @click="goOnWalk('')">*other*</button>
      </div>
      <table class="table">
        <tr>
          <th>Date</th>
          <th v-if="!who">Who</th>
          <th>Start</th>
          <th>Finish</th>
          <th>Doggo</th>
        </tr>
        <tr v-for="w in data.walks" :class="{ 'table-warning': !w.finish }">
          <td>{{w.start ? dateFormatter.format(w.start.toDate()) : ''}}</td>
          <td v-if="!who">{{w.who}}</td>
          <td>{{w.start ? timeFormatter.format(w.start.toDate()) : ''}}</td>
          <td>
            <span v-if="w.finish">
              {{w.finish ? timeFormatter.format(w.finish.toDate()) : ''}}
            </span>
            <span v-else-if="who">
              <button
                class="btn btn-primary"
                :class="{disabled: w.doggo == ''}"
                @click="returnFromWalk(w.doggo)"
              >
                Return
              </button>
              <button class="btn btn-danger btn-sm" @click="cancelWalk">
                X
              </button>
            </span>
          </td>
          <td>
            <span v-if="w.finish || !who"> {{w.doggo}} </span>
            <span v-else>
              <!--<select class="form-select" v-model="w.doggo">
                <option v-for="d in data.doggos">{{d.name}}</option>
              </select>-->
              <input class="form-control" v-model="w.doggo" />
            </span>
          </td>
        </tr>
      </table>
      <!--
      <div v-for="d in data.doggos">{{d.name}}</div>
      -->
    </div>
  </body>
</html>
